<app-navbar></app-navbar>
<div class="container navbar-top-margin pt-5">
    <div class="row">
        <div class="col">
            <div class="card bg-dark-2 p-4 text-center">
                <h1><i class="fas fa-user"></i></h1>
                <p class="">Producer</p>
                <a routerLink="/producer" class="btn btn-outline-primary stretched-link">Open</a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark-2 p-4 text-center">
                <h1><i class="fas fa-tablet"></i></h1>
                <p class="">Stage Screen</p>
                <a routerLink="/stage" class="btn btn-outline-primary stretched-link">Open</a>
            </div>
        </div>
    </div>
</div>